:root {
    --black: #222222;
    --bright-pink: #F16D7F;
}

body {
    font-family: 'Lato';
    font-style: normal;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.header {
    background-color: var(--black);
    position: relative;
}

.header__wrp {
    display: flex;
    justify-content: space-between;
    min-height: 75px;
    align-items: center;
}

.header__logo-search{
    display: flex;
    align-items: center;
}

.header__search {
    margin: 0 0 0 41px;
    display: flex;
    align-items: center;
}

.search__input {
    height: 50px;
    width: 200px;
    padding: 7px 0 6px 22px;
    box-sizing: border-box;
    background: #F1E4E6;
    border: none;
    border-radius: 50px;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    color: #222224;
    outline: none;
    display: none;
}

.header__search:hover .search__input {
    display: block;
}


.header__menu {
    display: flex;
}

.burger-btn {
    background-color: transparent;
}

.header__link {
    margin: 0 0 0 33px;
}

.header__link-svg {
   fill:#E8E8E8;
}

.header__link-svg:hover {
    fill: #F16D7F;
}

.brand {
    background-color: #F1E4E6;
    margin-bottom: 65px;
}

.brand-wrp {
    display: flex;
    align-items: center;
}

.brand__img {
    background-image: url(../images/man.png);
    height: 764px;
    width: 600px;
    background-position: -200px;
}

.brand__title-wrp {
    text-transform: uppercase;
    border-left: 12px solid var(--bright-pink);
    padding-left: 16px;
}

.brand__title {
    font-size: 48px;
    font-weight: 900;
    line-height: 58px;
}

.brand__subtitle {
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
}

.brand__subtitle-pink {
    color: var(--bright-pink);
    display: inline;
}

.sales__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.sales__item {
    height: 260px;
    width: 360px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sales__item-link {
    text-decoration: none;
    display: block;
    text-align: center;
    padding: 105px 103px;
}

.sales__item-link_wide {
    padding: 65px 475px;
}

.sales__item-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    color: #FFFFFF;
    text-transform: uppercase;
}

.sales__item-text-color {
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
    color: var(--bright-pink);
    text-transform: uppercase;
}

.sales__item_women {
    background-image: url(../images/sales-women.jpg);
}

.sales__item_men {
    background-image: url(../images/sales-men.jpg);
}

.sales__item_kids {
    background-image: url(../images/sales-kids.jpg);
}

.sales__item_accesories {
    background-image: url(../images/sales-accesories.jpg);
    width: 100%;
    height: 180px;
    background-repeat: no-repeat;
    margin-top: 30px;
}

.products__title {
    margin-top: 96px;
    margin-bottom: 6px;
    text-align: center;
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    color: var(--black);
}

.products__subtitle {
    text-align: center;
    color: #9F9F9F;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
    margin-bottom: 48px;
}

.products__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.products__item {
    width: 360px;
    margin-bottom: 30px;
    background-color: #F8F8F8;
}

.products__item-wrp-overlay {
    position: relative;
}

.products__item-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 13px 15px;
    height: 43px;
    width: 138px;
    box-sizing: border-box;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    color: #FFFFFF;
    background: none;
    border: 1px solid #FFFFFF;
    display: none;
    cursor: pointer;
}

.products__item-wrp-overlay:before {
    content: '';
    width: 100%;
    height: 100%;
    background: rgba(58, 56, 56, 0.86);
    position: absolute;
    top: 0;
    display: none;
}

.products__item:hover .products__item-wrp-overlay:before {
    display: block;
}

.products__item:hover .products__item-button {
    display: block;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 11px;
}

.products__item-title {
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    margin: 25px 0 12px 18px;
}

.products__item-description {
    margin: 0 18px 0 18px;
    font-size: 14px;
    font-weight: 300;
    line-height: 17px;
    color: #5D5D5D;  
}

.products__item-price {
    margin: 18px 0 20px 18px;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    color: var(--bright-pink);
}

.products__link {
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    color: #F26376;
    padding: 15px 39px;
    border: 1px solid #FF6A6A;
}

.products__link:hover{
    background-color: #F16D7F;
    color: #FFFFFF;
    transition: 0.7s;
}

.products__link-wrp {
    text-align: center;
    margin-top: 18px;
    margin-bottom: 109px;
}

.offer {
    background-color: #222224;
}

.offer__list {
    display: flex;
    padding: 103px 0 103px 0;
    justify-content: space-between;
}

.offer__item {
    display: flex;
    width: 360px;
    flex-direction: column;
    align-items: center;
}

.offer__item-img {
    margin-bottom: 20px;
}

.offer__item-title {
    margin-bottom: 16px;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    color: #FBFBFB;
}

.offer__item-description {
    font-size: 14px;
    font-weight: 300;
    line-height: 17px;
    color: #FBFBFB;
    text-align: center;
}

.footer-feedback {
    background-image: url(../images/footer-backg.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100%;
    background-size: cover;
}

.footer-feedback-wrp {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 86px 0 126px 0;
}

.quote {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quote__text {
    width: 360px;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    margin-top: 30px;
}

.quote__text_italics {
    font-style: italic;
}

.subscribe {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.subscribe__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 24px;
    font-weight: 700;
    line-height: 40px;
    margin-bottom: 32px;
}

.subscribe__text-details {
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}
.subscribe__form-wrp {
    display: flex;
}

.subscribe__form-input {
    height: 49px;
    width: 256px;
    padding: 7px 0 6px 22px;
    box-sizing: border-box;
    background: #E1E1E1;
    border: none;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    color: #222224;
    outline: none;
}

.subscribe__form-input:hover {
    border: 1px solid #F16D7F;
}

.subscribe__form-input:focus {
    border: 1px solid #F16D7F;
}

.subscribe__form-button {
    height: 49px;
    width: 100px;
    padding: 7px 7px 6px 0;
    box-sizing: border-box;
    background: #F16D7F;
    border: none;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    color: #FFFFFF;
}

.subscribe__form-button:hover {
    background: #E1E1E1;
    color: #F16D7F;
    transition: 0.7s;
}

.footer-network {
    background-color: #222224;
}

.footer-network-wrp {
    padding: 30px 0 30px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__rights {
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    color: #FBFBFB;

}

.footer__social-list {
    display: flex;
    gap: 7px;
}

.footer__social-item {
    display: flex;
}

.footer__social-link svg {
    fill: #000000;
}

.footer__social-link {
    background: #FFFFFF;
    padding: 8px;
    width: 32px;
    height: 32px;
    box-sizing: border-box;
}

.footer__social-link:hover {
    background: #F16D7F;
    transition: 0.7s;
}

.footer__social-link:hover svg {
    fill: #FFFFFF;
}

.page-title {
    background-color: #F8F3F4;
}
.page-title__wrp {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.breadcrumbs {
    display: flex;
}

ul.breadcrumbs a {
    text-decoration: none;
    font-size: 14px;
    font-weight: 300;
    line-height: 17px;
    text-transform: uppercase;
    color: #636363;
}

ul.breadcrumbs li+li:before {
    padding: 8px;
    color: black;
    content: "/";
    color: #636363;
  }

ul.breadcrumbs li a:hover {  
    font-weight: 700;
    color: #F16D7F;
}

.catalog {
    margin-top: 51px;
    margin-bottom: 97px;
}

.catalog__filter {
    margin: 0 0 64px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.filter__dropdown {
    position: absolute;
    left: 0;
}

.filter__dropdown-btn {
    color: #000000;
    font-size: 14px;
    font-weight: 600;
    line-height: 17px;
    text-transform: uppercase;
    border: none;
    background: transparent;
}

.filter__dropdown-btn svg {
    margin-left: 11px;
    fill: #000000;
}

.filter__dropdown-menu {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    color: #000000;
    font-size: 14px;
    font-weight: 600;
    line-height: 17px;
    text-transform: uppercase;
    border: none;
    background: transparent;
    box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
}

.filter__dropdown:hover .filter__dropdown-menu {
    display: block;
}

.dropdown-menu__btn {
    font-size: 14px;
    font-weight: 600;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
    color: #EF5B70;
    text-transform: uppercase;
    border: none;
    background: transparent;
}

.dropdown-menu__btn svg {
    margin-left: 11px;
    fill: #EF5B70;
}

.filter__checkbox-list {
    display: flex;
}

.filter__checkbox-item {
    margin-right: 28px;
    position: relative;
}

.filter__checkbox-button {
    border: none;
    background-color: transparent;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    text-transform: uppercase;
    color: #6F6E6E;
}

.filter__checkbox-button svg {
    margin-left: 10px;
    fill: #6F6E6E;
}

.filter__checkbox-dropdown {
    width: 100%;
    display: none;
    position: absolute;
    top: 100%;    
    background: #FFFFFF;
    box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
    box-sizing: border-box;
    padding: 9px 0 9px 9px;
    gap: 10px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    color: #6F6E6E;
}

.filter__range-dropdown {
    display: none;
    position: absolute;
    top: 100%;    
    background: #FFFFFF;
    padding: 10px;
    box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
}

.filter__checkbox-dropdown input {
    margin-right: 9px;
}

.filter__checkbox-item:hover .filter__checkbox-dropdown,
.filter__checkbox-item:hover .filter__range-dropdown {
    display: block;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.filter__range-dropdown input {
    width: 100%;
}

input[type='range'] {
    -webkit-appearance: none !important; 
    background:#F16D7F;
    height: 2px;
}
input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    background:#F16D7F;
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

datalist {
    display: block;
    display: flex;
}

datalist option {
    color: #6F6E6E;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
}

.catalog__item:hover {
    box-shadow: 17px 19px 24px 0px #00000021;
}

.catalog__pages {
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
}

.catalog__pages-wrp {
    display: flex;
    align-items: center;
    padding: 12px 16px;
    border: 1px solid #EBEBEB;
}

.catalog__pages-wrp svg {
    fill: #000000;
}

.catalog__pages-list {
    display: flex;
    width: 283px;
    justify-content: space-between;
    font-size: 16px;
    font-weight: 300;
    line-height: 19px;
    color: #EBEBEB;
    margin: 0 18px 0 18px;
}

.catalog__pages-item:hover {
    color: #F16D7F;
    cursor: pointer;
}

.page-name {
    padding: 60px 0 60px 0;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 400;
    line-height: 29px;
    color: #F16D7F;
}

.join {
    margin-top: 64px;
    margin-bottom: 96px;
    display: flex; 
    justify-content: space-between; 
}

.join__forms {
    width: 360px;
}

.join__forms fieldset {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 19px;
    color: #222222;
    gap: 20px;
}

.join__forms legend {
    margin-bottom: 20px;
}

.forms__text {
    font-size: 13px;
    font-weight: 300;
    line-height: 16px;
    padding: 13px 0 13px 16px;
    border: 1px solid #A4A4A4;
    width: 360px;
}

.forms__text:hover {
    border: 1px solid #F16D7F;
}

.forms__text:focus {
    border: 1px solid #F16D7F;
}

.join__forms-gender {
    margin-top: 34px;
    margin-bottom: 34px;
    display: flex;
    margin-left: 30px;
}

.gender-margin {
    margin-right: 60px;
}

[type="radio"] {
    display: none;
}

.label {
    position: relative;
}

.label:before {
    position: absolute;
    content: '';
    width: 17px;
    min-height: 17px;
    border: 1px solid #A4A4A4;
    border-radius: 50%;
    left: -30px;
}

[type="radio"]:checked + .label:before {
    background: #F16D7F;
    transition: 0.2s;
}

.join__forms-login {
    margin-top: 25px;
}

.join__password-text {
    margin-top: 15px;
    font-size: 13px;
    font-weight: 300;
    line-height: 16px;
    color: #B1B1B1
}

.join__button {
    margin-top: 39px;
    padding: 16px 25px;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 17px;
    color: #FFFFFF;
    background-color: #F16D7F;
    font-family: Lato;
    text-transform: uppercase;
}

.join__button:hover {
    background-color: #FFFFFF;
    color: #F16D7F;
    transition: 0.7s;
}


.fa-arrow-right {
    padding-left: 25px;
}

.join__loyalty {
    width: 652px;
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: 29px;
    color: #000000;
}

.loyalty__title {
    text-transform: uppercase;
    margin-bottom: 22px;
}

.loyalty__list {
    list-style-image: url('../images/loyalty-item.png');
}

.loyalty__item {
    margin-left: 23px;
    padding-bottom: 16px;
    padding-left: 23px;
}

.cart {
    display: flex;
    justify-content: space-between;
    margin-top: 96px;
    margin-bottom: 128px;
}

.purchase__list {
    margin-bottom: 73px;
}

.purchase__item {
    display: flex;
    width: 652px;
    box-sizing: border-box;
    margin-bottom: 40px;
    box-shadow: 17px 19px 24px 0px #00000021;
}

.purchase__item-info {
    margin-left: 31px;
    width: 262px;
    padding-top: 22px;
    padding-left: 31px;
}

.item__title {
    font-size: 24px;
    font-weight: 400;
    line-height: 29px;
    color: #222222;
    text-transform: uppercase;
    margin-bottom: 42px;
}

.info__item {
    margin-bottom: 6px;
    font-size: 22px;
    font-weight: 400;
    line-height: 26px;
    color: #575757;
}

.info__item span {
   color: #F16D7F;
}

.info__item input{
    width: 43px;
    margin-left: 24px;
    border: 1px solid #EAEAEA;
}

.purchase__item-delete {
    padding: 28px 22px 0 0;
}

.purchase__action {
    display: flex;
    justify-content: space-between;
}

.action__button {
    padding: 16px 40px;
    font-size: 14px;
    font-weight: 300;
    line-height: 17px;
    color: #000000;
    border: 1px solid #A4A4A4;
    text-transform: uppercase;
    background: transparent;
}

.action__button:hover{
    color: #E8E8E8;
    background: #A4A4A4;
    transition: 0.7s;
}

.action__link {
    text-decoration: none;
    font-size: 14px;
    font-weight: 300;
    line-height: 17px;
    color: #000000;
    text-transform: uppercase;
    padding: 16px 40px;
    border: 1px solid #A4A4A4;
}

.action__link:hover {
    color: #E8E8E8;
    background: #A4A4A4;
    transition: 0.7s;
}

.cart__order {
    width: 360px;
}

.cart__forms {
    display: flex;
    flex-direction: column;
}

.cart__forms input:hover {
    border:1px solid #F16D7F;;
}

.cart__forms legend {
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: 300;
    line-height: 19px;
    color: #222222;
    text-transform: uppercase;
}

.cart__forms input {
    width: 360px;
    padding: 12px 0 12px 17px;
    box-sizing: border-box;
    border: 1px solid #A4A4A4;
    margin-bottom: 21px;
    font-size: 13px;
    font-weight: 300;
    line-height: 16px;
    color: #B1B1B1;
}

.cart__forms button {
    font-size: 11px;
    font-weight: 300;
    line-height: 13px;
    color: #4A4A4A;
    border: 1px solid #A4A4A4;
    padding: 9px 14px;
    text-transform: uppercase;
}

.cart__forms button:hover {
    color: #E8E8E8;
    background: #A4A4A4;
    transition: 0.7s;
}

.cart__total {
    margin-top: 57px;
    height: 214px;
    width: 360px;
    background: #F5F3F3;
}

.cart__total-wrp {
    padding: 42px;
    display: flex;
    flex-direction: column;
    text-align: right;
}

.total-sub {
    font-size: 11px;
    font-weight: 400;
    line-height: 13px;
    text-transform: uppercase;
    margin-bottom: 12px;
}

.total-grand {
    font-size: 16px;
    font-weight: 300;
    line-height: 19px;
    text-transform: uppercase;
}

.total-grand span {
    font-weight: 700;
    color: #F16D7F;
}

.total-border {
    height: 1px;
    background: #E2E2E2;
    margin-top: 21px;
    margin-bottom: 17px;
}

.total-submit {
    font-size: 16px;
    font-weight: 300;
    line-height: 19px;
    color: #FFFFFF;
    background: #F16D7F;
    padding: 15px 20px;
    text-transform: uppercase;
    box-sizing: border-box;
}

.total-submit:hover {
    background-color: #FFFFFF;
    color: #F16D7F;
    transition: 0.7s;
}


.product-slider {
    position: relative;
    margin-bottom: 665px;
}

.product-slider__control {
    padding: 0;
    border: none;
}

.product-slider__picture {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.product-slider__control svg {
    fill: #000000;
    padding: 13px 13px 13px 17px;
    background-color: rgba(42, 42, 42, 0.15);
}

.product-slider__control_right svg {
    transform: rotate(180deg);
}

.product-slider__control_left {
    position: absolute;
    left: 0;
    top: 50%;
}

.product-slider__control_right {
    position: absolute;
    right: 0;
    top: 50%;
}

.product-slider__control:hover .product-slider__control-svg {
    fill: #F16D7F;
}

.product-slider__feature {
    background-color: white;
    position: absolute;
    height: 601px;
    width: 1140px;
    top: 90%;
    left: 0%;
    right: 0%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border: 1px solid #EAEAEA;
}

.feature-info__title {
    font-size: 14px;
    font-weight: 300;
    line-height: 17px;
    color: #F16D7F;
    text-transform: uppercase;
    padding-top: 65px;
}

.feature-info__line {
    height: 3px;
    background: #EF5B70;
    border: none;
    width: 63px;
    margin-top: 12px;
    margin-bottom: 12px;
}

.feature-info__subtitle {
    font-size: 18px;
    font-weight: 300;
    line-height: 22px;
    color: #4D4D4D;
    text-transform: uppercase;
}

.feature-info__text {
    font-size: 14px;
    font-weight: 300;
    line-height: 17px;
    width: 555px;
    color: #5E5E5E;
    margin-top: 48px;
    margin-bottom: 32px;
}

.feature-info__price {
    font-size: 24px;
    font-weight: 300;
    line-height: 29px;
    color: #EF5B70;
}

.slider__feature-line {
    margin-top: 65px;
    margin-bottom: 65px;
    width: 641px;
    height: 1px;
    background: #EAEAEA;
    border: none;
}

.slider__feature-button {
    padding: 0;
    margin-top: 64px;
    border: 1px solid #FF6A6A;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    color: #F26376;
    background-color: transparent;
}

.feature-button-wrp {
    padding: 14px 23px;
    display: flex;
    align-items: center;
    background-color: transparent;
}

.slider__feature-button :hover {
    background: #F16D7F;
    color: #FFFFFF;
    transition: 0.7s;
}

.slider__feature-button svg {
   fill: #EF5B70;
   margin-right: 23px;
}

.slider__feature-button :hover .feature-button-wrp__svg {
    fill: #FFFFFF;
    transition: 0.7s;
}






