$black: #000000;
$darkgray: #222224;
$gray: #5D5D5D;
$lightgray:#B1B1B1;
$verylightgray: #E8E8E8;
$grayborder: #EAEAEA;
$pink: #F16D7F;
$pink-bckg: #F8F3F4;
$white: #FFFFFF;
$mobile: 767px;
$tablet: 1599px;