.products__title {
    margin-top: 96px;
    margin-bottom: 6px;
    text-align: center;
    @include fonts (30px, 400, 36px);
    color: $black;

    @include tablet {
        margin-top: 154px;
        margin-bottom: 3px;
    }

    @include mobile {
        margin-top: 64px;
        margin-bottom: 3px;
    }
}

.products__subtitle {
    text-align: center;
    color: $lightgray;
    @include fonts (14px, 400, 17px);
    letter-spacing: 0em;
    margin-bottom: 48px;

    @include tablet {
        margin-bottom: 73px;
    }

    @include mobile {
        margin-bottom: 65px;
    }
}

.products__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.products__item {
    width: 360px;
    margin-bottom: 30px;
    background-color: $verylightgray;

    &-wrp-overlay {
        position: relative;

        &:before {
            content: '';
            width: 100%;
            height: 100%;
            background: rgba(58, 56, 56, 0.86);
            position: absolute;
            top: 0;
            display: none;
        }
    }

    &-button {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 13px 15px;
        height: 43px;
        width: 138px;
        box-sizing: border-box;
        @include fonts (14px, 400, 17px);
        color: $verylightgray;
        background: none;
        border: 1px solid $verylightgray;
        display: none;
        cursor: pointer;
    }

    &-title {
        text-transform: uppercase;
        @include fonts (13px, 400, 16px);
        margin: 25px 0 12px 18px;
    }

    &-description {
        margin: 0 18px 0 18px;
        @include fonts (14px, 300, 17px);
        color: $gray;
    }

    &-price {
        margin: 18px 0 20px 18px;
        @include fonts (16px, 400, 19px);
        color: $pink;
    }
}

.products__link {
    text-decoration: none;
    display: inline-block;
    @include fonts (16px, 400, 19px);
    @include btn-link-act ($white, $pink);
    color: $pink;
    padding: 15px 39px;
    border: 1px solid $pink;

    &-wrp {
        text-align: center;
        margin-top: 18px;
        margin-bottom: 109px;

        @include tablet {
            margin-bottom: 65px;
        }

        @include mobile {
            margin-bottom: 96px;
        }
    }


}

.products__item:hover {
    box-shadow: 17px 19px 24px 0px #00000021;
}

.products__item:hover .products__item-wrp-overlay:before {
    display: block;
}

.products__item:hover .products__item-button {
    display: block;
    @include flex-center;
    gap: 11px;
}

.products__item-button:hover {
    background-color: $gray;
}